<launch>
  <arg name="cmd" default="1"/>
  <arg name="delay" default="1.0"/>

  <node pkg="me5413_navigation"
        type="respawn_objects_once.py"
        name="respawn_objects_once"
        output="screen">
    <param name="cmd" value="$(arg cmd)"/>
    <param name="delay" value="$(arg delay)"/>
  </node>
</launch>

<!-- 生成障碍物和随机box：
运行：roslaunch me5413_navigation respawn_objects.launch
清除：roslaunch me5413_navigation respawn_objects.launch cmd:=0 -->